*{
    padding: 0px;margin: 0px;
}
.head{
    background-color: rgb(21, 20, 20);
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    list-style: none;
    justify-content: space-evenly;
}
.menus{
    display: flex;
    align-items: center;
    
}
.item{
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    font-size: 18px;
}
.item:hover{
    color: rgb(224, 48, 4);
}
/* banner start */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 100vh;
    background-image: url("/images/background.png"), linear-gradient(45deg, rgb(29, 28, 28), rgb(8, 8, 7));
}
.headig{
    font-size: 55px;
    font-weight: bolder;
}
.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover{
    background-color: blue;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-us{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}