*{
    padding: 0px;margin: 0px;
}
.head{
    background-color: rgb(21, 20, 20);
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    list-style: none;
    justify-content: space-evenly;
}
.menus{
    display: flex;
    align-items: center;
    
}
.item{
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    font-size: 18px;
}
.item:hover{
    color: rgb(224, 48, 4);
}
/* banner start */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 100vh;
    background-image: url("/images/background.png"), linear-gradient(45deg, rgb(29, 28, 28), rgb(8, 8, 7));
}
.headig{
    font-size: 55px;
    font-weight: bolder;
}
.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover{
    background-color: blue;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-us{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.icon{
    width: 70px;
}
.card{
    height: 250px;width: 230px;
    color: white;
    background-color: black;
    text-align: center;
    box-shadow: 10Px 10px 25px gray;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding: 20px;
}
.card1{
    background: #353333;
    color: white;
}
.card-btn{
        background-color: grey;
    margin-top: 10px;
}
.card, h2, p{
    margin-top:5px;
}
footer{
    height: 300px;
    background: #000;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
 a{
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 5px;
}